@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.st_name {
	font-size: 12px !important;
    color: white !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    text-align: center;
}

.address {
	font-size: 12px !important;
    color: white !important;
    text-overflow: ellipsis !important;
    text-align: center;
}

.ph_number {
	font-size: 12px !important;
    color: white !important;
    text-align: center;
}

.buttons {
	 padding: 0 !important;
    /* font-size: 15px !important;  */
   /* margin-bottom: 10px !important; */
}

.card_media{
    height: 100px !important;
    /* width: 10px !important; */
}

.card_content {
	padding: 10px !important;
    background-color: #1F2128;
    color: white;    
    text-align: center !important;
    height: 170px !important;
}

.rate_button{
    border-radius: 0% !important;
    /* margin-bottom:  10% !important; */
    /* bottom: 5px !important;  */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.book_button{
    margin-left: 10% !important;
    border-radius: 0% !important;  
    text-decoration: none !important;
    width: 45% !important;
    border: 1px solid #69FFF1 !important;
    padding: 8px 0px;
    color: #69FFF1;
    /* font-weight: bold; */
}

.book_button:hover{
    background-color: #69FFF1;
    color: #1F2128;
}